@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --font-display: 'Segoe UI', system-ui, sans-serif;
  --font-sans: 'Segoe UI', system-ui, sans-serif;
}

html {
  scroll-behavior: smooth;
}

body {
  @apply bg-surface text-white antialiased;
}

.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}
